body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100;
}
input {
  padding: 8px;
  width: 200px;
}
button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}
#nextBtn {
  display: ;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
}
#nextBtn { display: none; }

#result img {
  margin-top: 10px;
  border-radius: 10px;
}
